.App {
  text-align: center;
  color:white;
  background-color: #282c34;
  height: 100vh;
  width: 100%;
  display: flexbox;
  margin-top: auto;
  margin-bottom: auto;
  align-content: center;
  outline: 5px solid rgb(79, 80, 82);
  outline-offset: -25px;
}

div{
  /* border:white 1px solid; */
  height:fit-content;
  padding-left: auto;
  padding-right: auto;
}

.stripe{
  vertical-align: middle;
  /* border: grey 1px solid; */
  width: 100%;
  min-height: 300px;
  padding: 30px;
}
.choice{
  font-size: 50px;
}
.roundbtn{
  background: #2f3644;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  background: linear-gradient(to bottom, #d34a50, #da485b);
  transform: rotateZ(0deg);
  margin: 25px;
  font-size: 40px;
  vertical-align: middle;
  line-height: 2  ;
  border: none;
  box-shadow: 0 6px 0 rgba(0,0,0,0.25),
              0 6px 0 rgb(206, 50, 50),
              0 6px 16px rgba(0,0,0,0.45);
}

.roundbtn:active{
  box-shadow: 0 4px 6px rgba(0,0,0,0.45);
  transform: translateY(4px);
}

.spsresult{
  font-style: italic;
  font-size: large;
  font-weight: bold;

}
.redText{
  color:#d34a50;
}
.yellowText{
  color:rgb(231, 210, 19);
}
.greenText{
  color:green;
}